# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
.venv/
venv/

# IDE
.idea/
.vscode/

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# DB / volumes
pgdata/